In [1]:
import pandas as pd

In [2]:
cms_nppes_df = pd.read_json("https://data.cms.gov/data-api/v1/dataset/017ceedb-fda2-4c69-b7ec-ced232268135/data")

In [3]:
cms_nppes_df.head()

          NPI      Provider Name
0  1699152124        Perry,Jeanne
1  1225469976  Ogunmuyiwa,Muminot
2  1871901579   Miesbauer,Rebekah
3  1932615317    Pathadan,Nileena
4  1932623170    Philippe,Fabiola

In [4]:
# weekly update (January 31, 2022)
all_order_and_referring_physicians = pd.read_json("https://data.cms.gov/data-api/v1/dataset/0824b6d0-14ad-47a0-94e2-f317a3658317/data")

In [15]:
all_order_and_referring_physicians.head()

          NPI LAST_NAME FIRST_NAME PARTB DME HHA PMD
0  1558467555  .MCINDOE     THOMAS     Y   Y   Y   Y
1  1417051921   A BELLE          N     Y   Y   Y   Y
2  1760465553  A SATTAR   MUHAMMAD     Y   Y   Y   Y
3  1467482471       AAB      BARRY     Y   Y   Y   N
4  1164905659     AABEL   SAMANTHA     Y   Y   N   N

In [11]:
all_pecos_set = set(all_order_and_referring_physicians["NPI"])

In [10]:
nppes_set = set(cms_nppes_df["NPI"].values)

In [12]:
all_pecos_set.intersection(nppes_set)

{1164623682}

In [14]:
all_order_and_referring_physicians[all_order_and_referring_physicians["NPI"] == 1164623682]

            NPI LAST_NAME FIRST_NAME PARTB DME HHA PMD
220  1164623682    AARONS  ELIZABETH     Y   Y   Y   Y