In [149]:
%matplotlib inline



import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.plotting as bkp
from mpl_toolkits.axes_grid1 import make_axes_locatable
import seaborn as sns
import geocoder
import scipy as sp
from tqdm import tqdm
import googlemaps


import geopandas as gpd
import pysal as ps
import seaborn as sns

API_KEY='AIzaSyAohV1TWEceKt97u_MB5s97ZzuGKfHUvK4'

gmaps = googlemaps.Client(key=API_KEY)

/Users/sarahluw/.pyenv/versions/3.6.2/envs/my-virtual-env-3.6.2/lib/python3.6/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [46]:
# read in readmissions data provided
hospital_read_df = pd.read_csv('../data/FY_2021_Hospital_Readmissions_Reduction_Program_Hospital.csv')

# deal with missing and inconvenient portions of data
clean_hospital_read_df = hospital_read_df[~hospital_read_df.loc[:, 'Number of Discharges'].isna()]
clean_hospital_read_df = clean_hospital_read_df[clean_hospital_read_df['Number of Discharges'] != 'Not Available']
clean_hospital_read_df = clean_hospital_read_df[~clean_hospital_read_df['Excess Readmission Ratio'].isna()]
# coerce to integer type
clean_hospital_read_df.loc[:, 'Number of Discharges'] = clean_hospital_read_df['Number of Discharges'].astype(int)
clean_hospital_read_df = clean_hospital_read_df.sort_values('Number of Discharges')

In [47]:
clean_hospital_read_df.head()

,Facility Name,Facility ID,State,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,Start Date,End Date
2700,WHITTIER HOSPITAL MEDICAL CENTER,50735,CA,READM-30-AMI-HRRP,26,NaN,1.0721,25.1052,23.4178,11,07/01/2016,06/30/2019
5451,LORETTO HOSPITAL,140083,IL,READM-30-HF-HRRP,28,NaN,1.0837,26.4006,24.3613,13,07/01/2016,06/30/2019
15411,UNICOI COUNTY HOSPITAL,440001,TN,READM-30-HF-HRRP,28,NaN,1.0729,22.7504,21.2045,11,07/01/2016,06/30/2019
1554,USC VERDUGO HILLS HOSPITAL,50124,CA,READM-30-AMI-HRRP,30,NaN,1.0755,21.7179,20.1941,11,07/01/2016,06/30/2019
4320,WESTCHESTER GENERAL HOSPITAL,100284,FL,READM-30-AMI-HRRP,32,NaN,1.0763,23.0122,21.3810,12,07/01/2016,06/30/2019

In [50]:
for idx, row in tqdm(clean_hospital_read_df.iterrows()):
    place = clean_hospital_read_df.at[idx,'Facility Name'] + ', ' + clean_hospital_read_df.at[idx,'State']
    try:
        geocode_result = gmaps.geocode(place)
        postal_code = geocode_result[0]['address_components'][-2]["long_name"]
        clean_hospital_read_df.at[idx,'postal_code'] = postal_code.postal
    except Exception:
        clean_hospital_read_df.at[idx,'postal_code'] = 'Error in geocoding'

In [94]:
for idx, row in tqdm(clean_hospital_read_df.iloc[779:].iterrows()):
    place = clean_hospital_read_df.at[idx,'Facility Name'] + ', ' + clean_hospital_read_df.at[idx,'State']
    try:
        geocode_result = gmaps.geocode(place)
        dict_with_postal_code = next(item for item in geocode_result[0][
            "address_components"] if item["types"] == ["postal_code"]
        )
        clean_hospital_read_df.at[idx,'postal_code'] = dict_with_postal_code["long_name"]
    except Exception as e:
        print(str(e))
        clean_hospital_read_df.at[idx,'postal_code'] = 'Error in geocoding'

10324it [1:02:30,  2.75it/s]

In [98]:
clean_hospital_read_df.shape

(11103, 13)

In [104]:
# remove 253 from analysis
clean_hospital_read_df[clean_hospital_read_df.postal_code.isna()].shape

(253, 13)

In [106]:
clean_hospital_read_df = clean_hospital_read_df[~clean_hospital_read_df.postal_code.isna()]

In [110]:
(clean_hospital_read_df["postal_code"] == 5).all()

False

In [111]:
clean_hospital_read_df.to_csv("../data/temp_postal_code_subset_02012022.csv", index=False)

In [114]:
hud_crosswalk_file = pd.read_excel("../data/ZIP_TRACT_122021.xlsx",  engine='openpyxl')

In [120]:
hud_crosswalk_file.zip = hud_crosswalk_file.zip.astype(str)

In [125]:
merged_df = clean_hospital_read_df.merge(hud_crosswalk_file, left_on="postal_code", right_on="zip", how="left")

In [129]:
deduped = merged_df.drop_duplicates(subset=["Facility ID", "Measure Name"])

In [132]:
deduped.head()

In [134]:
df.head()

,Facility Name,Facility ID,State,Measure Name,Number of Discharges,Footnote,Excess Readmission Ratio,Predicted Readmission Rate,Expected Readmission Rate,Number of Readmissions,...,End Date,postal_code,zip,tract,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,WHITTIER HOSPITAL MEDICAL CENTER,50735,CA,READM-30-AMI-HRRP,26,NaN,1.0721,25.1052,23.4178,11,...,06/30/2019,90605,90605,6.037503e+09,WHITTIER,CA,0.009381,0.000914,0.012931,0.008826
16,LORETTO HOSPITAL,140083,IL,READM-30-HF-HRRP,28,NaN,1.0837,26.4006,24.3613,13,...,06/30/2019,60644,60644,1.703125e+10,CHICAGO,IL,0.061211,0.018018,0.042081,0.055481
29,WESTCHESTER GENERAL HOSPITAL,100284,FL,READM-30-AMI-HRRP,32,NaN,1.0763,23.0122,21.3810,12,...,06/30/2019,33155,33155,1.208601e+10,MIAMI,FL,0.000542,0.000000,0.001101,0.000475
45,CLINTON MEMORIAL HOSPITAL,360175,OH,READM-30-AMI-HRRP,34,NaN,1.0947,16.9158,15.4521,11,...,06/30/2019,45177,45177,3.902796e+10,WILMINGTON,OH,0.169697,0.091694,0.017021,0.154527
52,BEAUMONT HOSPITAL - TAYLOR,230270,MI,READM-30-AMI-HRRP,36,NaN,1.0570,21.1415,20.0023,11,...,06/30/2019,48180,48180,2.616358e+10,TAYLOR,MI,0.026549,0.037949,0.013115,0.027307

In [139]:
x = [a for a in deduped['Number of Discharges']]
y = list(deduped['Excess Readmission Ratio'])
z = list(deduped['postal_code'])
w = list(deduped['State'])
v = list(deduped['tract'])

In [140]:
x = pd.DataFrame(x)
y = pd.DataFrame(y)

w = pd.DataFrame(w)
v = pd.DataFrame(v)
z = pd.DataFrame(z)

df = pd.concat([w, v, z, x,y], axis=1)
df.columns = ['State', 'tract', 'postal_code', 'discharges', 'excess_readmissions']
df.tail()

      State         tract postal_code  discharges  excess_readmissions
10845    IL  1.703181e+10       60201        3613               0.9272
10846    FL  1.209501e+10       32803        3883               1.1233
10847    FL  1.209501e+10       32803        3972               1.0387
10848    MA           NaN       02120        5971               0.6761
10849    NY  3.606101e+10       10021        9285               0.6374

In [142]:
# large

hi_df = df[df.discharges > 1000]
hi_discharges, hi_excess_readmissions = hi_df[["discharges", "excess_readmissions"]].mean()
hi_greater_than_one = len(hi_df[hi_df.excess_readmissions > 1]) / len(hi_df)

print('Excess readmission rate :', '%.3f' % hi_excess_readmissions)
print('%.2f' % hi_greater_than_one, 'have excess readmission rate greater than 1.')

Excess readmission rate : 0.980
0.45 have excess readmission rate greater than 1.

In [143]:
# small

lo_df = df[df.discharges < 300]
lo_discharges, lo_excess_readmissions = lo_df[["discharges", "excess_readmissions"]].mean()
lo_greater_than_one = len(lo_df[lo_df.excess_readmissions > 1]) / len(lo_df)

print('Excess readmission rate :', '%.3f' % lo_excess_readmissions)
print('%.2f' % lo_greater_than_one, 'have excess readmission rate greater than 1.')

Excess readmission rate : 1.014
0.54 have excess readmission rate greater than 1.

In [146]:
hi_df.State.value_counts()[:10]

FL    64
NY    47
NJ    39
IL    39
NC    36
MI    35
MA    32
CA    31
TX    31
VA    30
Name: State, dtype: int64

In [147]:
lo_df.State.value_counts()[:10]

CA    504
TX    473
FL    299
PA    257
IL    247
NY    241
OH    222
GA    181
WI    154
MI    149
Name: State, dtype: int64

In [150]:
# load geojson, display shape
tracts = gpd.read_file('../esda_florida_02012022/census/census_tracts_data.geojson')
tracts = tracts.set_index('index')
tracts.shape

(4245, 38)

In [151]:
# calculate pop density in persons per sq km
tracts['pop_density'] = tracts['total_pop'] / (tracts['ALAND'] / 1e6)
tracts = tracts.replace([np.inf, -np.inf], np.nan)
tracts = tracts.dropna(subset=['pop_density'])

In [152]:
# project spatial geometries from lat-long to a meter-based projection
utm_ma = '+proj=utm +zone=18 +ellps=WGS84 +datum=WGS84 +units=m +no_defs'
tracts = tracts.to_crs(utm_ma)

In [157]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,...,pct_below_poverty,pct_college_grad_student,pct_same_residence_year_ago,pct_bachelors_degree,pct_english_only,pct_foreign_born,state,county,geometry,pop_density
index,,,,,,,,,,,,,,,,,,,,,
12001000200,12,001,000200,2,Census Tract 2,G5020,S,2096009,0,+29.6511124,...,63.7,96.0,60.4,30.3,84.7,5.7,12,001,"MULTIPOLYGON (((-211393.471 3301721.601, -2113...",3182.715341
12001000301,12,001,000301,3.01,Census Tract 3.01,G5020,S,2479035,22169,+29.6680039,...,30.1,82.8,56.5,43.6,92.6,5.7,12,001,"MULTIPOLYGON (((-211171.935 3304949.518, -2111...",1756.731954
12001000302,12,001,000302,3.02,Census Tract 3.02,G5020,S,3793937,39594,+29.6842367,...,20.7,51.1,66.7,25.4,90.2,7.4,12,001,"MULTIPOLYGON (((-210971.731 3308138.466, -2109...",617.564287
12001000400,12,001,000400,4,Census Tract 4,G5020,S,6020191,9011,+29.6794765,...,26.7,27.4,93.8,28.1,93.3,5.0,12,001,"MULTIPOLYGON (((-209757.268 3304529.058, -2097...",1105.446654
12001000500,12,001,000500,5,Census Tract 5,G5020,S,3912741,1068,+29.6568455,...,31.3,79.4,81.8,54.4,86.2,7.9,12,001,"MULTIPOLYGON (((-210497.177 3302692.238, -2104...",1321.579936

In [ ]:
#### Florida

In [162]:
florida_small_df = lo_df[lo_df["State"] == "FL"]

florida_small_df["tract"] = florida_small_df["tract"].astype(str).astype(float).apply(lambda x: round(x))

/Users/sarahluw/.pyenv/versions/3.6.2/envs/my-virtual-env-3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [164]:
florida_small_df["tract"] = florida_small_df["tract"].astype(str)

/Users/sarahluw/.pyenv/versions/3.6.2/envs/my-virtual-env-3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [166]:
florida_small_df.set_index("tract", inplace=True)

In [170]:
florida_small_df.merge(tracts, how='inner', left_index=True, right_index=True)

,State,postal_code,discharges,excess_readmissions,STATEFP,COUNTYFP,TRACTCE,NAME,NAMELSAD,MTFCC,...,pct_below_poverty,pct_college_grad_student,pct_same_residence_year_ago,pct_bachelors_degree,pct_english_only,pct_foreign_born,state,county,geometry,pop_density
12001000808,FL,32608,74,1.2436,12,001,000808,8.08,Census Tract 8.08,G5020,...,37.5,79.3,62.8,48.1,76.8,17.7,12,001,"MULTIPOLYGON (((-211728.016 3298718.510, -2116...",1256.063213
12001001603,FL,32605,203,1.8144,12,001,001603,16.03,Census Tract 16.03,G5020,...,29.1,86.4,73.7,52.3,83.9,12.8,12,001,"MULTIPOLYGON (((-217311.210 3304061.159, -2172...",1025.001799
12005001100,FL,32405,130,1.0417,12,005,001100,11,Census Tract 11,G5020,...,28.1,28.7,74.2,7.5,92.1,6.3,12,005,"MULTIPOLYGON (((-525560.340 3385368.629, -5255...",971.532468
12005001800,FL,32401,171,0.8791,12,005,001800,18,Census Tract 18,G5020,...,32.4,14.0,75.1,8.5,89.9,9.3,12,005,"MULTIPOLYGON (((-527869.263 3384466.682, -5277...",891.240647
12005001800,FL,32401,271,1.1599,12,005,001800,18,Census Tract 18,G5020,...,32.4,14.0,75.1,8.5,89.9,9.3,12,005,"MULTIPOLYGON (((-527869.263 3384466.682, -5277...",891.240647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12131950501,FL,32435,113,0.9547,12,131,950501,9505.01,Census Tract 9505.01,G5020,...,17.9,12.9,88.4,11.9,87.6,6.6,12,131,"MULTIPOLYGON (((-576162.304 3416682.747, -5761...",9.207988
12131950603,FL,32550,95,1.0129,12,131,950603,9506.03,Census Tract 9506.03,G5020,...,6.7,25.5,78.5,48.7,89.6,7.6,12,131,"MULTIPOLYGON (((-598650.855 3416080.069, -5986...",510.759680
12131950603,FL,32550,176,1.0185,12,131,950603,9506.03,Census Tract 9506.03,G5020,...,6.7,25.5,78.5,48.7,89.6,7.6,12,131,"MULTIPOLYGON (((-598650.855 3416080.069, -5986...",510.759680
12131950603,FL,32550,201,0.9865,12,131,950603,9506.03,Census Tract 9506.03,G5020,...,6.7,25.5,78.5,48.7,89.6,7.6,12,131,"MULTIPOLYGON (((-598650.855 3416080.069, -5986...",510.759680
12131950603,FL,32550,270,1.0196,12,131,950603,9506.03,Census Tract 9506.03,G5020,...,6.7,25.5,78.5,48.7,89.6,7.6,12,131,"MULTIPOLYGON (((-598650.855 3416080.069, -5986...",510.759680